{% load compress %}
{% load staticfiles %}

{% compress js %}

<!-- Vendors -->
<script type="text/javascript" src="{% static 'vendors/jquery/dist/jquery.js' %}"></script>


<script type="text/javascript" src="{% static 'vendors/bootstrap/dist/js/bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'vendors/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/angular-notify/dist/angular-notify.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/angular-ui-router/release/angular-ui-router.js' %}"></script>

<!-- Blogify App -->
<script type="text/javascript" src="{% static 'js/app/blogify.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/blogify.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/blogify.routers.js' %}"></script>

<script type="text/javascript" src="{% static 'js/app/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/authentication/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/authentication/controllers/logout.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/authentication/controllers/profile.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'js/app/home/home.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/home/controllers/home.controller.js' %}"></script>
{% endcompress %}
